<main>
	<section class="agenda">
		<section class="agenda_time-of-day">
			<div class="time-of-day">01:00</div>
			<div class="time-of-day">02:00</div>
			<div class="time-of-day">03:00</div>
			<div class="time-of-day">04:00</div>
			<div class="time-of-day">05:00</div>
			<div class="time-of-day">06:00</div>
			<div class="time-of-day">07:00</div>
			<div class="time-of-day">08:00</div>
			<div class="time-of-day">09:00</div>
			<div class="time-of-day">10:00</div>
			<div class="time-of-day">11:00</div>
			<div class="time-of-day">12:00</div>
			<div class="time-of-day">13:00</div>
			<div class="time-of-day">14:00</div>
			<div class="time-of-day">15:00</div>
			<div class="time-of-day">16:00</div>
			<div class="time-of-day">17:00</div>
			<div class="time-of-day">18:00</div>
			<div class="time-of-day">19:00</div>
			<div class="time-of-day">20:00</div>
			<div class="time-of-day">21:00</div>
			<div class="time-of-day">22:00</div>
			<div class="time-of-day">23:00</div>
		</section>

		<div class="agenda_date-row">
			<div class="day active"><span>16</span><small>Mon</small></div>
			<div class="day"><span>17</span><small>Tue</small></div>
			<div class="day"><span>18</span><small>Wed</small></div>
			<div class="day"><span>19</span><small>Thu</small></div>
			<div class="day"><span>20</span><small>Fri</small></div>
			<div class="day"><span>21</span><small>Sat</small></div>
			<div class="day"><span>22</span><small>Sun</small></div>
		</div>

		<div class="agenda_time-row">
			<div class="time-column active">
				<div class="item item-half" style="height: calc((200vh / 23) * 3);top: calc((200vh / 23) * 3);background-color: #0057e7; width:42.5%;">ET artificial intelligence balbal balbal blbalba lbal lbalba lba</div>
				<div class="item item-half" style="height: calc((200vh / 23) * 3);top: calc((200vh / 23) * 3);background-color: #0057e7; width:42.5%;">ET artificial intelligence balbal balbal blbalba lbal lbalba lba</div>
			</div>
			<div class="time-column">
				<div class="item" style="height: calc((200vh / 23) * 5);top: calc((200vh / 23) * 6);background-color: #0057e7; width:90%;">ET artificial intelligence balbal balbal blbalba lbal lbalba lba</div>
			</div>
			<div class="time-column"></div>
			<div class="time-column"></div>
			<div class="time-column"></div>
			<div class="time-column"></div>
			<div class="time-column"></div>
		</div>
	</section>
</main>
<section class="call-to-action">
	<button class="prev">Previous</button>
	<button class="next">Next</button>
	<div class="menu">
		<ul class="menu-items">
			<li class="menu-item">
				<button class="menu-item-button">
					<i class="menu-item-icon icon icon-deadline"></i>
				</button>
				<div class="menu-item-bounce"></div>
			</li>
			<li class="menu-item">
				<button class="menu-item-button">
					<i class="menu-item-icon icon icon-meeting"></i>
				</button>
				<div class="menu-item-bounce"></div>
			</li>
		</ul>
		<button class="menu-toggle-button">
			<i class="menu-toggle-icon">+</i>
		</button>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
		<defs>
			<filter id="goo">
				<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
				<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
				<feComposite in="SourceGraphic" in2="goo" operator="atop"/>
			</filter>
		</defs>
	</svg>

</section>
