<!DOCTYPE html>
<html>
  <head>
    <title>Prophecy</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.webmanifest" type="application/manifest+json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#0057e7">
    <meta name="theme-color" content="#0057e7">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#0057e7">
    <meta name="apple-mobile-web-app-title" content="Prophecy">

    <meta name="msapplication-TileImage" content="/images/favicons/mstile-150x150.png">
    <meta name="msapplication-TileColor" content="#0057e7">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link preload href="/styles/style.css" rel="stylesheet">

  </head>
  <body>
  <div id="initialAnimation">
    <hgroup>
      <h1>Prophecy</h1>
      <h3>'a prediction of what will happen in the future.'</h3>
      <h2>Log in with your Google account</h2>
    </hgroup>
    <!-- <button id="authorize-button" style="display: none;">
      <span class="icon"></span>
      <span class="buttonText">Sign in</span>
    </button> -->
    <div id="authorize-button" style="display: none;">
      <span class="icon"></span>
      <div id="label">Sign in</div>
    </div>
    <span class="shameless-plug">made by <a href="https://level30wizards.com" target="_blank" class="lvl30wzrds">Level30Wizards</a> for <span class="you">you</span></span>
  </div>
    <!--Add buttons to initiate auth sequence and sign out-->
    <!-- <button id="signout-button" style="display: none;">Sign Out</button> -->
	<!-- <button id="add-new">Add new item to calender</button> -->
	<!-- <button id="save-cal">Save calendar</button> -->

    <pre id="content"></pre>
    <div id="eventHolder"></div>
	<%- include( 'calendar' ) %>

  <!-- <script async defer src="../node_modules/pouchdb/dist/pouchdb.min.js"></script> -->
	<script async defer src="/moment.js"></script>
	<!-- <script async defer src="/scripts.js"></script> -->

	<script data-tween async defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>

  <script async defer src="https://apis.google.com/js/api.js"></script>

  <script>
    const tween = document.querySelector( '[data-tween]' )
    tween.addEventListener( 'load', () => {

      const script = document.createElement( 'script' ),
        magic = document.createElement( 'script' ),
        database = document.createElement( 'script' ),
        g = document.createElement( 'script' )

      magic.setAttribute( 'src', '/magic.js' )
      database.setAttribute( 'src', '/database.js' )
      script.setAttribute( 'src', '/scripts.js' )

      g.setAttribute( 'async', '' );
      g.setAttribute( 'defer', '' );
      g.setAttribute( 'src', 'https://apis.google.com/js/api.js' )
      // g.setAttribute( 'onload', 'this.onload=function(){};handleClientLoad()' );
        // g.setAttribute( 'onreadystatechange', `if (this.readyState === 'complete') this.onload()` );      

      script.addEventListener('load', () => {
        console.log('script loaded');
        // g.setAttribute( 'onload', 'this.onload=function(){};handleClientLoad()' );
        // g.setAttribute( 'onreadystatechange', `if (this.readyState === 'complete') this.onload()` );      

        // g.addEventListener( 'load', () => {
        //   console.log('g loaded');
        //   handleClientLoad()
        // })

      })
      g.onload = () => {
        this.onload = () => {
          handleClientLoad()
        };
        if (this.readyState === 'complete') this.onload()
      }


      // var gPromise = new Promise(function(resolve, reject) {
      //   // do a thing, possibly async, then…
      //   if (g.readyState === 'complete') {
      //     resolve("Stuff worked!");
      //   }
      //   else {
      //     reject(Error("It broke"));
      //   }
      // })

      // g.addEventListener( 'readystatechange', function() {
      //   gPromise.then(function(result) {
      //     console.log(result); // "Stuff worked!"
      //     handleClientLoad();
      //   }, function(err) {
      //     console.log(err); // Error: "It broke"
      //   });
      // });

      document.body.appendChild( g )
      document.body.appendChild( magic )
      document.body.appendChild( database )
      document.body.appendChild( script )

    })

  </script>
  </body>
</html>
