<!DOCTYPE html>
<html>
  <head>
    <title>AI Calender</title>
    <meta charset='utf-8' />
  </head>
  <body>

    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize-button" style="display: none;">Authorize</button>
    <button id="signout-button" style="display: none;">Sign Out</button>
	<button id="add-new">Add new item to calender</button>
	<button id="save-cal">Save calendar</button>

    <pre id="content"></pre>

	<script async defer src="/moment.js"></script>
    <script async defer src="/scripts.js"></script>

    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
  </body>
</html>
