$agendaHeight: 200vh;
$timeOfDayWidth: 2.75em;
$blockHeight: calc(200vh / 23);
$blue: rgba(0,87,231, 1);
$lightBlue: #4d90fe;
$headerHeight: 7.5vh;

*, *:before, *:after {
	box-sizing: border-box;
}
body {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	margin: 0; padding: 0;
}

i {
	font-style: normal;
}

.agenda {
	display: flex;
	min-height: $agendaHeight;
	width: 100%;
	overflow-x: hidden;
	padding-bottom: calc(#{$blockHeight} * 2);
	&_time-of-day {
		width: $timeOfDayWidth;
		padding: 0;
		margin: 0;
		// border-right: 1px solid rgba(0,0,0,.2);
		
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		.time-of-day {
			display: flex;
			justify-content: center;
			align-items: baseline;
			margin: 0 auto;
			// border-right: 1px solid rgba(0,0,0,.2);
			// border-bottom: 1px solid rgba(0,0,0,0.3);
			width: 100%;
			height: calc(100% / 23);

			transform: translateY(100%);
			z-index: 1;
			// &:first-of-type {
			// 	border-top: 1px solid rgba(0,0,0,0.1);
			// }
			&::after {
				content: "";
				display: block;
				width: 100vw;
				height: 1px;
				background-color: rgba(0,0,0,0.1);
				position: absolute;
				bottom: -1px;
				left: 0;
				z-index: 2;
			}
			// &:last-of-type {
			// 	&::after {
			// 		display: none;
			// 	}
			// }
		}
		.currentHour {
			&::before {
				content: "";
				display: block;
				width: 100vw;
				height: 3px;
				background-color: rgba(0,87,231, .2);
				position: absolute;
				left: 0;
			}
		}
	}
	&_date-row {
		display: flex;
		width: calc(100% - #{$timeOfDayWidth});
		justify-content: space-around;
		position: fixed;
		right: 0;
		top: $headerHeight;
		background-color: #FFF;
		box-shadow: 5px 0px 8px 0px rgba(0, 0, 0, 0.25);
		z-index: 2;
		.day {
			display: flex;
			flex-flow: column wrap;
			align-items: center;
			justify-content: center;
			padding: 0;
			margin: 0;
			height: calc(200vh / 23);
			width: 100%;
			border-left: 1px solid rgba(0,0,0,0.3);
			border-bottom: 1px solid rgba(0,0,0,0.3);
			background-color: #FFF;
			span {
				font-size: 2em;
				display: block;
			}
			small {
				font-size: .8em;
				display: block;
			}
			// &:last-of-type {
			// 	// border-right: 1px solid rgba(0,0,0,0.1);
			// }
			// &:first-of-type {
			// 	border-left: 0;
			// 	// padding-left: 1px;
			// }
		}
		.active {
			color: $blue;
		}
	}
	&_time-row {
		display: flex;
		justify-content: space-around;
		max-width: calc(100% - #{$timeOfDayWidth});
		width: calc(100% - #{$timeOfDayWidth});
		transform: translateY(calc(100% / 23));
		.time-column {
			display: block;
			// align-items: center;
			// justify-content: center;
			// width: 100%;
			width: calc(100% / 7);
			max-width: calc(100% / 7);
			// max-width: calc((100% - #{$timeOfDayWidth}) / 7);
			// border: 1px solid #123456;
			padding: 0;
			margin: 0;
			border-left: 1px solid rgba(0,0,0,0.1);
			// border-bottom: 1px solid rgba(0,0,0,0.1);
			background-color: #FFF;
			position: relative;
			// &:first-of-type {
			// 	border-left: none;
			// }
			&:last-of-type {
				border-right: 1px solid rgba(0,0,0,0.1);
			}
			.item {
				display: inline-block;
				position: absolute;
				width: 100%;

				font-size: .8em;
				@media screen and(min-width: 48em) {
					font-size: 1em;
				}
				color: #FFF;
				border-radius: 4px;
				border: 3px solid rgba(0,0,0,.25);
				overflow: hidden;

				padding: .5em;
				margin: 0 5%;
				overflow-wrap: break-word;
				//z-index: 3;

				background-color: #9FFFE7;
				// opacity: .85;
				&[colorId='1'] {
					background: #a4bdfc;
				}

				&[colorId='2'] {
					background: #7ae7bf;
				}

				&[colorId='3'] {
					background: #dbadff;
				}

				&[colorId='4'] {
					background: #ff887c;
				}

				&[colorId='5'] {
					background: #fbd75b;
				}

				&[colorId='6'] {
					background: #ffb878;
				}

				&[colorId='7'] {
					background: #46d6db;
				}

				&[colorId='8'] {
					background: #e1e1e1;
				}

				&[colorId='9'] {
					background: #5484ed;
				}

				&[colorId='11'] {
					background: #dc2127;
				}
				// [colorId='10']
            }
            //styling for items made by Prophecy
            [generatedByProphecy] {
              section {
                position: absolute;
                background-color: rgba(220,220,220,1);
                border-radius: 4px;
                width: 100%;
                top: 0;
                height: 100%;
                left: 0;
                padding: .5em;
                color: #000;
                > button {
                  -webkit-appearance: none;
                  border: 0;
                  font-size: 1em;
                  display: block;
                  width: 1em;
                  height: 1em;
                  background-color: white;
                  position: absolute;
                  top: .25em;
                  right: .25em;
                  cursor: pointer;
                  pointer-events: visible;
                }
                .item-popup {
                  margin-top: 2em;
                  display: block;
                  button {
                    cursor: pointer;
                    font-size: 1em;
                    -webkit-appearance: none;
                    border: 0;
                    height: 20%;
                    width: 100%;
                    min-height: 3em;
                    margin-top: 1em;
                    background-color: $blue;
                    color: #FFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                }

              }
              [data-show-popup="false"] {
                background-color: transparent;
                pointer-events: none;
                .item-popup {
                  display: none;
                }
              }

            }
          .item-half {
				margin: 0 0 0 1.25%;
				&:first-of-type {
					margin: 0 0 0 2.5%;
				}

				&:nth-of-type( 2n ) {
					left: 50%;
				}
			}
		}
		.active {
			background-color: rgba(0,87,231, 0.2);
		}
	}
}

.call-to-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 999999;
	background-color: #fff;
	min-height: 4em;
	height: 10vh;
	padding: 0 6% 0 5%;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.25);
	.prev, .next {
		font-size: 1em;
		min-width: 6em;
		width: 20%;
		height: 3em;
		padding: 1px 6px;
	    text-align: center;
		appearance: none;
		-webkit-appearance: none;
		background-color: $blue;
		border: 0;
		color: #FFF;
		line-height: 3em;
		text-decoration: none;
		font-family: Arial;
		font-size: 13.3333px;
	}
	.next {
		margin-right: auto;
		margin-left: 2%;
	}
}
.header_menu {
	display: flex;
	flex-flow: row wrap;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: $headerHeight;
	background-color: #FFF;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	z-index: 3;
	&--display {
		padding: 0;margin:0;
		display: flex;
		align-items: center;
		&-item {
			list-style: none;
		}
		&-button {
			font-size: 1em;
			min-width: 6em;
			width: 20%;
			height: 3em;
			max-height: 5vh;
			padding: 1px 6px;
			text-align: center;
			appearance: none;
			-webkit-appearance: none;
			background-color: $blue;
			border: 0;
			color: #FFF;
			line-height: 1;
			text-decoration: none;
			font-family: Arial;
			font-size: 13.3333px;
			margin-left: 1vw;

			transition: box-shadow 150ms ease-out;
			&:hover {
				box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.7);
			}
		}
		.active {
			background-color: lighten($blue, 10%);
			box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.7);
		}
	}
}

.menu {
	// width: 300px;
	// height: 200px;
	// margin: 0 auto 100px;
	position: absolute;
	bottom: 50%;
	right: 15%;
	-webkit-filter: url("#goo");
	filter: url("#goo");
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

// .menu-wrapper {
// 	// position: absolute;
// 	// left: 50%;
// 	// bottom: 10px;
// }

.menu-toggle-button,
.menu-item-bounce,
.menu-item-button {
	background: $blue;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin-left: -30px;
	margin-top: -30px;
	color: #fff;
	border: none;
	outline: none;
	position: relative;
	cursor: pointer;
}

.menu-toggle-button {
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	transform-origin: 50% 50%;
}

.menu-toggle-icon {
	font-size: 2em;
	position: absolute;
	top: 0;
	left: 0;
	// text-align: center;
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.menu-items {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
}

.menu-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}

.menu-item-icon {
	font-size: 2.5em !important;
	width: 100%;
	height: 100%;
	line-height: 20px;
}

.menu-item-bounce {
	position: absolute;
	top: 0;
	left: 0;
}

.menu-item-button {
	width: 60px;
	height: 60px;
	margin-left: -30px;
	margin-top: -30px;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
}

.menu-item-button:hover {
	color: #fff;
}
.icon-profile {
	background-image: url('/images/profile.svg');
	background-size: cover;
	background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  display: block;
	fill: white;
}

#content {
	display: none;
}

#initialAnimation {
	// display: block;
  	position: absolute;
	left: 0;
	top: 0;

	height: 100vh;
	min-height: 100vh;
	width: 100%;

	background-color: #FFF;
	border-bottom: 3px solid $blue;
	text-align: center;

	z-index: 9999999;
 	// animation: 1s ease-out .5s 1 forwards slideOut;
	transform-origin: top;
  	transition: transform .3s ease-out;
	hgroup {
		margin-top: 25vh;
	}
	h1 {
		font: 200 3em Roboto,sans-serif;
        color: #757575;
		margin: -5vh auto 5vh auto;
	}
	h2 {
		color: #757575;
		font: 300 1.5em Roboto,sans-serif;
	}
	h3 {
		font: 300 1em 'Open Sans',sans-serif;
        font-style: italic;
        margin: 5vh auto;
    }
	.shameless-plug {
	  position: absolute;
      bottom: .5em;
      transform: translateX(-50%);
      font-size: .8em;
      font-family: 'Roboto', sans-serif;
      .you {
          font-weight: 600;
      }
      .lvl30wzrds {
          border-bottom: 1px solid $blue;
          text-decoration: none;
          color: inherit;
      }
	}
	#authorize-button {
	  background-color: white;
	  position: absolute;
	  margin: auto;
	  width: 12em;
	  height: 5em;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  cursor: pointer;
		border: thin solid #888;
		box-shadow: 1px 1px 1px grey;
		border-radius: 5px;
	}

	.icon {
		background: url(/images/g-logo.png) white 0 50% no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    left: 10%;
		top: 50%;
    transform: translateY(-50%);
	}

	#label {
	  font-size: 1em;
	  font-family: 'Roboto', sans-serif;
	  color: grey;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  line-height: 80px;
		padding-left: 3em;
	  pointer-events: none;
	}
}

/*
	Overlay deadline
*/

.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1234567;
	transform: scale(0);
	transform-origin: 50% 50%;
	opacity: 0;
	background-color: rgba(0,0,0,.5);
	// transition: transform 300ms ease-in, opacity 300ms ease-in;
	#close {
		text-align: right;
		user-select: none;
		cursor: pointer;
	}
	&-background {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 12345678;
	}
	&__modal {
		display: flex;
		flex-flow: column wrap;
		position: relative;
		width: 20em;
		height: 30em;
		background-color: white;
		margin: 20vh auto;
		padding: 2em;
		z-index: 123456789;

		h2 {
			color: #757575;
			font: 300 34px/40px Roboto,sans-serif;
			text-align: center;
			margin: 0 auto 1em auto;
		}
		label {
			margin: .75em auto;
			input {
				font-size: .8em;
				outline: none;
				border: 0;
				border-bottom: 1px solid $lightBlue;
				padding: .5em;
			}
			input[type="date"]{
				font-size: 1em;
			}
		}
		button {
			-webkit-appearance: none;
			appearance: none;
			background-color: $blue;
			color: white;
			cursor: point;
			font-size: .8em;

			border: 0;
			height: 4em;
			width: 12em;
			margin-top: 2em;
		}
	}
}
.profile-overlay {
	button {
		margin-left: auto;
		margin-right: auto;
	}
}
.preference-overlay {
	.overlay__modal {
		min-height: 42.5em;
		height: 40vh;

		min-width: 25em;
		width: 50vw;

		flex-flow: column nowrap;
		form {
			label {
				display: block;
				input {
					display: block;
					font-size: 1em;
				}
				fieldset {
					border: none;
					padding: .35em 0;
					margin: 0;
					input {
						display: inline-block;
					}
					select {
						font-size: 1em;
					}
					button {
						width: 1em;
						height: 1em;
					}
				}
			}
		}
	}
}

@keyframes slideOut {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

//Currently just for current day
.day-view {
	.agenda_date-row {
		.day {
			&.active {
				max-width: 100%;
				min-width: 100%;
				width: 100%;
			}
			&:not(.active) {
				display: none;
			}
		}	
	}
	.agenda_time-row {
		.time-column {
			&.active {
				max-width: 100%;
				min-width: 100%;
				width: 100%;
			}
			&:not(.active) {
				display: none;
			}
		}
	}
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  cursor: pointer;
}